@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

body {
  display: flex;
  height: 100vh;
  margin: 0;
}

#panel {
  background-color: aquamarine;
  padding: 6px 12px;
}

#title {
  font-family: 'Architects Daughter', cursive;
  font-size: 36px;
  padding: 0;
}

.active {
  background-color: gray;
  border: yellow;
}

#game {
  display: flex;
  flex: auto;
}

#column {
  display: flex;
  flex-direction: column;
  flex: auto;
}

.row {
  display: flex;
  flex: 1;
}

.square {
  flex: 1;
  background-color: white;
  box-sizing: border-box;
}

.change {
  background-color: black;
}

.grid-lines {
  border: solid 1px gray ;
}