@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

body {
  display: flex;
  height: 100vh;
  margin: 0;
}

#panel {
  display: flex;
  flex-direction: column;
  gap: 8px;
  background-color: aqua;
  padding: 6px 12px;
  width: 250px;
}

#title {
  font-family: 'Architects Daughter', cursive;
  padding-left: 20px;
  color: black;
  font-size: 36px;
  padding: 0;
}

button {
  font-family: 'Courier New', Courier, monospace;
  background-color: aqua;
  border: 4px blue solid;
  border-radius: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
}

#size-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#size-text {
  font-family: 'Courier New', Courier, monospace;
}

#size-buttons {
  display: flex;
  width: 100%;
  gap: 4px;
  flex-flow: wrap;
}

#size-buttons button {
  flex-grow: 1;
  width: 48%;
  padding-top: 5px;
  padding-bottom: 5px;
}

.active {
  background-color: gray;
  border: yellow;
}

#game {
  display: flex;
  flex: auto;
}

#column {
  display: flex;
  flex-direction: column;
  flex: auto;
}

.row {
  display: flex;
  flex: 1;
}

.square {
  flex: 1;
  background-color: white;
  box-sizing: border-box;
}

.change {
  background-color: black;
}

.grid-lines {
  border: solid 1px gray ;
}